{% extends "_base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}

<!-- Error and Permissions Management -->

{% if form.errors %}
    <div class="slight-overlay alert alert-danger alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

  {% if next %}
    {% if user.is_authenticated %}
        <div class="slight-overlay alert alert-danger alert-dismissible fade show" role="alert">
            Your account doesn't have access to this page. Please login.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
        <div class="slight-overlay alert alert-danger alert-dismissible fade show" role="alert">
            Please login to see this page.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
  {% endif %}


            <div class="card w-50">
                <div class="card-header">Welcome Back!</div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group row justify-content-between pb-3">
                            <label class="col-sm-4 col-form-label" for="phone_number">Phone Number: </label>
                            <div class="col-sm-8 me-0 input-group">
                                <span class="input-group-text" id="phone_addon">+1</span>
                                <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="9108675309">
                            </div>
                        </div>
                        <div class="form-group row pb-3">
                            <label class="col-sm-4 col-form-label" for="password">Password: </label>
                            <div class="col-sm-10 input-group">
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                     <div class="card-footer text-center">
                        <a class="link-primary" href="{% url 'signup' %}">Not a user? Register here!</a> 
                         | 
                        <a class="link-primary" href="{% url 'password_reset' %}">Lost password?</a> 
                     </div>
               
            </div>

{% endblock %}